
<a href="#" data-toggle="modal" data-target="#login">登陆</a>
<div class="modal fade" id="login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">欢迎登陆</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">用户名</label>
                        <input type="text" ng-model="user.username" class="form-control" id="exampleInputEmail1"
                               placeholder="name"
                                >
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" ng-model="user.password" class="form-control" id="exampleInputPassword1"
                               placeholder="password"
                                >
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" ng-click="login_click()" class="btn btn-default" data-dismiss="modal">登陆</button>
            </div>
        </div>
    </div>
</div>
